<h1>Editing method_or_class</h1>

<% form_for(@method_or_class) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :is_method %><br />
    <%= f.check_box :is_method %>
  </p>
  <p>
    <%= f.label :is_class %><br />
    <%= f.check_box :is_class %>
  </p>
  <p>
    <%= f.label :document_id %><br />
    <%= f.text_field :document_id %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @method_or_class %> |
<%= link_to 'Back', method_or_classes_path %>