 <% if params[:facet] == facet %>
      <%= browse %> <strong> <%= displayable_facet_name(facet,params[:browse]) %> </strong><a href='<%="/search/search/?q=#{params[:q]}"%>'> 
  	     All <%= facet.pluralize.capitalize %> 
      </a> 
 <% else %>
      <% facets.each do |name, count| %>
         <a href='<%="/search/search/?q=#{params[:q]}&facet=#{facet}&browse=#{name}"%>'> 
	    <%= displayable_facet_name(facet,name)  %> 
	  </a> (<%= count %>)
      <% end-%>  
 <% end %>
 
 

