 <% if params[:facet] == facet %>
      <%= browse %> <strong> <%= params[:browse].gsub("_"," ") %> </strong><a href='<%="/search/search/?q=#{params[:q]}"%>'> 
  	     All <%= facet.pluralize.capitalize %> 
      </a> 
  <% else %>
      <% facets.each do |name, count| %>
         <a href='<%="/search/search/?q=#{params[:q]}&facet=#{facet}&browse=#{name}"%>'> 
	    <%= name.gsub("_"," ") %> 
	  </a> (<%= count %>)
      <% end-%>  
      
     
  <% end %>
