<%  helper = BrowseFacetsHelper.new(params[:facet]) %> 
      <% facets.each do |name, count| %>
        <% if helper.contains_facet?({facet => name}) %>
          <span class="selected_facet"> <%= displayable_facet_name(facet,name) %> </span>
          <a href='<%="/search/search/?q=#{params[:q]}"%>'>
         All <%= facet.pluralize.capitalize %>
      </a>
        <% else %>
         <a href='<%="/search/search/?q=#{params[:q]}&facet=#{facet}:#{name}"%>'> 
	       <%= displayable_facet_name(facet,name)  %>
	     </a> (<%= count %>)
        <% end %>

 <% end %>
 
 

