<div id="searchstatus">


<p class="right">
 Results
 <b><%= @paginator.current_start_record %></b> - <b><%= @paginator.current_end_record %></b>
 of 
 <b><%= @paginator.total_records %></b>
 for
 <b><%= h params[:q] %>.</b>
(<b><%= @elapsed %></b> seconds) 
</p>
</div>


