<%= render :partial => 'search/searchform' %>

<% content_for :search_history_content do %>
  <%= render :partial => 'partials/search_history' %>
<% end %>

<% if @classes.docs.size > 0 %>
    <div class="methods_header">
        <span>Matching classes</span>
    </div>
    <% for cl in @classes.docs %>
        <div class="resultline">
        <b><%=Document.source_full_name(cl.document.source) unless cl.document.nil?%>
        </b> <a class="resultlink" href="<%= cl.url %>"><%=cl.class_name%></a> 
        </div>
    <% end -%>
<% end %>

<%= render :partial => 'search/pages', :locals => {:total => @classes.total}  %>
