<script type="text/javascript">
      $(document).ready(function(){
      
        <% for d in @results.docs %>

	//$("#<%=d.id%>").click(function(event){
	//alert ('<%=d.file_path.gsub('public','')%>');
	//alert ("<%= url_for  d %>");
          //$("#ajax").load ('<%= url_for  d %>');
          //$("#ajax").html ('<%=d.id%>'); 
          //$("#ajax").load ('<%="http://localhost:3000/search/test"%>');
         
	//});
        <% end %>
      });
</script>


<%= render :partial => 'search/searchform' %>

<% content_for :search_history_content do %>
  <%= render :partial => 'partials/search_history' %>
<% end %>


<%= render :partial => 'search_results_banner' %>
<% if @results && @results.total > 0 %>

    <% if @classes.docs.size > 0 %>
         <div class="methods_header">
             <span>Matching classes</span>
         </div>
         <% for cl in @classes.docs %>
             <div class="resultline">
             <b><%=Document.source_full_name(cl.document.source)%></b> <a class="resultlink" href="<%= cl.url %>"><%=cl.class_name%></a>
             </div>
         <% end -%>
     <% end %>


   <% if @methods.docs.size > 0 %>
       <div class="methods_header">
       	<span>Matching methods</span>
       </div>
       <% for method in @methods.docs %>
           <div class="resultline">
           <b><%=Document.source_full_name(method.document.source) unless method.document.nil?%>
           </b> <a class="resultlink" href="<%= method.url %>"><%=method.method_name%></a> on <%=method.class_name%>
           </div>
       <% end -%>
       <% if @methods.total > 3 %>
         <div class="moreresults">
           More available... <%= link_to "browse methods only", :action => 'searchmethods', :q => params[:q] %>
         </div>
       <% end %>
   <% end %>


   <div class="methods_header">
       	<span>Results</span>
   </div>
      
  <% for document in @results.docs %>
    <div class="resultline">
       <b><%=Document.source_full_name(document.source)%></b> <a class="resultlink" href="<%= document.url %>"><%=document.title %></a> 
       
       <div class="abstract">
         <%= displayable_abstract document %> 
       </div>
       
       
       <!--
       <div id="<%=document.id%>>ajax</div>   <td><%= link_to 'Show', document %>  <a href="<%= document.file_path.gsub('public','')%>">open</a>   <div id="<%=document.id%>">ajax</td>
       -->
     </div>
  <% end -%>
  
<% else %>
  <h2>No results for <%= h params[:q] %></h2>
<% end %>

<%
   facets_param = ""
   unless params[:facet].nil?
     helper = BrowseFacetsHelper.new(params[:facet])
     facets_param = "&facet=#{helper.encode_escaped}"
   end
%>
<%= render :partial => 'search/pages', :locals => {:total => @results.total}  %>

<div id="ajax"></div>

