<script type="text/javascript">
      $(document).ready(function(){
      
        <% for d in @results.docs %>

	//$("#<%=d.id%>").click(function(event){
	//alert ('<%=d.file_path.gsub('public','')%>');
	//alert ("<%= url_for  d %>");
          //$("#ajax").load ('<%= url_for  d %>');
          //$("#ajax").html ('<%=d.id%>'); 
          //$("#ajax").load ('<%="http://localhost:3000/search/test"%>');
         
	//});
        <% end %>
      });
</script>



<form name="search" action="/search/search">
  <div>RailsMine. Digging for more about Rails...</div>
  <input type="text" name="q" value="<%=h params[:q]%>"> <input type="submit" value="Dig In"> 
</form>

<% content_for :search_history_content do %>
  <%= render :partial => 'partials/search_history' %>
<% end %>



<%= render :partial => 'search_results_banner' %>
<% if @results && @results.total > 0 %>

    <% if @classes.docs.size > 0 %>
         <div class="methods_header">
             <span>Matching classes</span>
         </div>
         <% for cl in @classes.docs %>
             <div class="resultline">
             <b><%=Document.source_full_name(cl.document.source)%></b> <a class="resultlink" href="<%= cl.url %>"><%=cl.class_name%></a>
             </div>
         <% end -%>
     <% end %>


   <% if @methods.docs.size > 0 %>
       <div class="methods_header">
       	<span>Matching methods</span>
       </div>
       <% for method in @methods.docs %>
           <div class="resultline">
           <b><%=Document.source_full_name(method.document.source) unless method.document.nil?%>
           </b> <a class="resultlink" href="<%= method.url %>"><%=method.method_name%></a> on <%=method.class_name%>
           </div>
       <% end -%>
   <% end %>


   <div class="methods_header">
       	<span>Results</span>
   </div>
      
  <% for document in @results.docs %>
    <div class="resultline">
       <b><%=Document.source_full_name(document.source)%></b> <a class="resultlink" href="<%= document.url %>"><%=document.title %></a> 
       
       <div class="abstract">
         <%= displayable_abstract document %> 
       </div>
       
       
       <!--
       <div id="<%=document.id%>>ajax</div>   <td><%= link_to 'Show', document %>  <a href="<%= document.file_path.gsub('public','')%>">open</a>   <div id="<%=document.id%>">ajax</td>
       -->
     </div>
  <% end -%>
  
<% else %>
  <h2>No results for <%= h params[:q] %></h2>
<% end %>

<% (1..@results.total/5+1).each do |page| %>
  <a href='<%="/search/search/?q=#{params[:q]}&page=#{page}&browse_category=#{@browse_category}"%>'><%="#{page}"%></a> 
<% end %> 

<div id="ajax"></div>

